body {
    margin: 0;
    padding: 0;
    max-width: 1179px;
}

body, input {
    font-family: 'Noto Sans', sans-serif, arial, Arial, Helvetica;
}

h1 {
    text-align: center;
    background: #127CAA;
    padding: 10px;
    color: white;
    margin-bottom: 10px;
    width: 100%;
    margin-top: 0%;
    width: auto;
}

h2 {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 30px;
}

h3 {
    font-size: 17px;
    font-weight: normal;
}

h4 {
    font-size: 20px;
    margin-bottom: 1px;
    margin-left: 10px;
    margin-top: 20px !important;
}

.search-btn, .clear-history-button {
    background-color:#127CAA;
    color: white;
    border-radius: 4px;
    width: 292px;
    padding: 5px;
    cursor: pointer;
    border: none;
    font-family: 'Noto Sans', sans-serif, arial, Arial, Helvetica;
    padding: 8px;
}

.city-input {
    border-radius: 4px;
    color: black;
    padding: 8px;
    margin-bottom: 8px;
    width: 275px;
    border: 1px solid;
    font-size: 17px;
}

.container {
    display: flex;
}
.weather-data {
    flex: 1;
}

.results {
    border: 1px solid black;
    margin-left: 30px;
    margin-right: 2px;
    padding: 8px;
    width: auto;
    background-color: #127CAA;
    color: white;
}

.five-day {
    margin-left: 20px;
    flex-wrap: wrap;
}

.weather-search {
    position: relative;
    margin-left: 7px;
}

.line {
    position: static;
    height: 1px;
    width: 100%;
    background-color: #999999;
    bottom: 0;
    left: 0;
    margin-top: 1rem;
}

.five-day {
    display: flex;
    list-style: none;
    padding: 0px;
    margin-left: 20px;
    overflow-x: auto;
    white-space: nowrap;
}

.cards {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    max-width: 200px; 
    display: inline-block; 
    background-color: #127CAA;
    color: white;
}

.search-history li {
    cursor: pointer;
    margin-bottom: 14px;
    color: black;
    list-style-type: none;
    border-radius: 4px;
    width: 285px;
    padding: 5px;
    padding-left: 2px;
    text-align: center;
    background-color: #A6A6A6;
}

.history-btns {
    padding-inline-start: 0%;
    width: 234px;
}

.forecast-cards {
    padding: 0;
}